<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "https://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleIdentifier</key>
    <string>com.splicekit.formatreader.matroska</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleExecutable</key>
    <string>SpliceKitMKVImport</string>
    <key>CFBundleName</key>
    <string>SpliceKitMKVImport</string>
    <key>CFBundlePackageType</key>
    <string>BNDL</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleShortVersionString</key>
    <string>0.1.0</string>
    <key>CFBundleSupportedPlatforms</key>
    <array>
        <string>MacOSX</string>
    </array>
    <key>CFBundleVersion</key>
    <string>0.1.0</string>
    <key>CMClassImplementations</key>
    <array>
        <dict>
            <key>CMClassID</key>
            <string>com.apple.mediatoolbox.pluginformatreader</string>
            <key>CMClassImplementationID</key>
            <string>com.splicekit.mediatoolbox.pluginformatreader.matroska</string>
            <key>CMClassImplementationName</key>
            <string>SpliceKit Matroska/WebM Format Reader</string>
            <key>CMClassImplementationVersion</key>
            <integer>1</integer>
            <key>CMCopyright</key>
            <string>Copyright 2026 SpliceKit</string>
            <key>CMExecutableArchitectures</key>
            <array>
                <string>x86_64</string>
                <string>arm64</string>
            </array>
            <key>CMFactoryFunction</key>
            <string>MKVPluginFormatReader_CreateInstance</string>
            <key>CMManufacturer</key>
            <string>SpliceKit</string>
            <key>CMMatchingInfo</key>
            <dict>
                <key>MTFileNameExtensionArray</key>
                <array>
                    <string>mkv</string>
                    <string>MKV</string>
                    <string>mka</string>
                    <string>MKA</string>
                    <string>mk3d</string>
                    <string>MK3D</string>
                    <string>webm</string>
                    <string>WEBM</string>
                </array>
                <key>MTUTTypeArray</key>
                <array>
                    <string>com.splicekit.matroska-movie</string>
                    <string>com.splicekit.webm-movie</string>
                    <string>org.matroska.mkv</string>
                    <string>org.webmproject.webm</string>
                    <string>uk.tarun.vidcore.mkv</string>
                </array>
            </dict>
        </dict>
    </array>
    <key>LSMinimumSystemVersion</key>
    <string>14.0</string>
    <key>UTExportedTypeDeclarations</key>
    <array>
        <dict>
            <key>UTTypeConformsTo</key>
            <array>
                <string>public.movie</string>
            </array>
            <key>UTTypeDescription</key>
            <string>Matroska Video</string>
            <key>UTTypeIdentifier</key>
            <string>com.splicekit.matroska-movie</string>
            <key>UTTypeTagSpecification</key>
            <dict>
                <key>public.filename-extension</key>
                <array>
                    <string>mkv</string>
                    <string>mk3d</string>
                </array>
                <key>public.mime-type</key>
                <array>
                    <string>video/x-matroska</string>
                </array>
            </dict>
        </dict>
        <dict>
            <key>UTTypeConformsTo</key>
            <array>
                <string>public.movie</string>
            </array>
            <key>UTTypeDescription</key>
            <string>WebM Video</string>
            <key>UTTypeIdentifier</key>
            <string>com.splicekit.webm-movie</string>
            <key>UTTypeTagSpecification</key>
            <dict>
                <key>public.filename-extension</key>
                <array>
                    <string>webm</string>
                </array>
                <key>public.mime-type</key>
                <array>
                    <string>video/webm</string>
                </array>
            </dict>
        </dict>
    </array>
</dict>
</plist>
